/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-outline-style: solid;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
      --tw-content: "";
    }
  }
}

@layer theme {
  :root, :host {
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --color-white: #fff;
    --spacing: .25rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-wide: .025em;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-gotham);
    --default-mono-font-family: var(--font-mono);
    --color-icr-bg: #f9fafb;
    --color-icr-muted: #6c7c8d;
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring:where(:not(iframe)) {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }

  *, :before, :after {
    box-sizing: border-box;
  }

  html, body {
    background: var(--color-icr-bg);
    min-height: 100%;
    color: var(--color-icr-muted);
    font-family: var(--font-gotham);
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 14px;
  }

  button, input, textarea, select {
    font: inherit;
    font-family: inherit;
  }

  button {
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@layer components;

@layer utilities {
  .pointer-events-auto {
    pointer-events: auto;
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .invisible {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .sticky {
    position: sticky;
  }

  .inset-0 {
    inset: 0;
  }

  .inset-x-0 {
    inset-inline: 0;
  }

  .inset-y-0 {
    inset-block: 0;
  }

  .top-0 {
    top: 0;
  }

  .top-0\.5 {
    top: calc(var(--spacing) * .5);
  }

  .top-1 {
    top: var(--spacing);
  }

  .top-1\/2 {
    top: 50%;
  }

  .top-\[2px\] {
    top: 2px;
  }

  .top-\[3px\] {
    top: 3px;
  }

  .top-\[calc\(100\%\+6px\)\] {
    top: calc(100% + 6px);
  }

  .top-\[calc\(100\%\+8px\)\] {
    top: calc(100% + 8px);
  }

  .top-\[calc\(100\%\+10px\)\] {
    top: calc(100% + 10px);
  }

  .top-full {
    top: 100%;
  }

  .right-0 {
    right: 0;
  }

  .right-2 {
    right: calc(var(--spacing) * 2);
  }

  .right-auto {
    right: auto;
  }

  .bottom-0 {
    bottom: 0;
  }

  .bottom-0\.5 {
    bottom: calc(var(--spacing) * .5);
  }

  .bottom-1 {
    bottom: var(--spacing);
  }

  .bottom-full {
    bottom: 100%;
  }

  .left-0 {
    left: 0;
  }

  .left-1\/2 {
    left: 50%;
  }

  .left-auto {
    left: auto;
  }

  .z-0 {
    z-index: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-30 {
    z-index: 30;
  }

  .z-40 {
    z-index: 40;
  }

  .z-50 {
    z-index: 50;
  }

  .row-2 {
    grid-row: 2;
  }

  .row-4 {
    grid-row: 4;
  }

  .row-5 {
    grid-row: 5;
  }

  .row-6 {
    grid-row: 6;
  }

  .row-8 {
    grid-row: 8;
  }

  .row-9 {
    grid-row: 9;
  }

  .row-10 {
    grid-row: 10;
  }

  .row-11 {
    grid-row: 11;
  }

  .row-13 {
    grid-row: 13;
  }

  .row-14 {
    grid-row: 14;
  }

  .row-16 {
    grid-row: 16;
  }

  .container {
    width: 100%;
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (min-width: 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (min-width: 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .m-0 {
    margin: 0;
  }

  .mx-0\.5 {
    margin-inline: calc(var(--spacing) * .5);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .my-3 {
    margin-block: calc(var(--spacing) * 3);
  }

  .-mt-px {
    margin-top: -1px;
  }

  .mt-0 {
    margin-top: 0;
  }

  .mt-0\.5 {
    margin-top: calc(var(--spacing) * .5);
  }

  .mt-1 {
    margin-top: var(--spacing);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-2\.5 {
    margin-top: calc(var(--spacing) * 2.5);
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-auto {
    margin-top: auto;
  }

  .-mb-px {
    margin-bottom: -1px;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-2\.5 {
    margin-bottom: calc(var(--spacing) * 2.5);
  }

  .mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .box-border {
    box-sizing: border-box;
  }

  .line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline {
    display: inline;
  }

  .inline-block {
    display: inline-block;
  }

  .inline-flex {
    display: inline-flex;
  }

  .table {
    display: table;
  }

  .size-1 {
    width: var(--spacing);
    height: var(--spacing);
  }

  .size-1\.5 {
    width: calc(var(--spacing) * 1.5);
    height: calc(var(--spacing) * 1.5);
  }

  .size-2\.5 {
    width: calc(var(--spacing) * 2.5);
    height: calc(var(--spacing) * 2.5);
  }

  .size-3 {
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3);
  }

  .size-4 {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

  .size-5 {
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
  }

  .size-6 {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6);
  }

  .size-8 {
    width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
  }

  .size-9 {
    width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 9);
  }

  .size-10 {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
  }

  .size-\[2\.5px\] {
    width: 2.5px;
    height: 2.5px;
  }

  .size-\[18px\] {
    width: 18px;
    height: 18px;
  }

  .size-\[23px\] {
    width: 23px;
    height: 23px;
  }

  .h-1\.5 {
    height: calc(var(--spacing) * 1.5);
  }

  .h-2 {
    height: calc(var(--spacing) * 2);
  }

  .h-3\.5 {
    height: calc(var(--spacing) * 3.5);
  }

  .h-4 {
    height: calc(var(--spacing) * 4);
  }

  .h-5 {
    height: calc(var(--spacing) * 5);
  }

  .h-8 {
    height: calc(var(--spacing) * 8);
  }

  .h-9 {
    height: calc(var(--spacing) * 9);
  }

  .h-10 {
    height: calc(var(--spacing) * 10);
  }

  .h-11 {
    height: calc(var(--spacing) * 11);
  }

  .h-48 {
    height: calc(var(--spacing) * 48);
  }

  .h-56 {
    height: calc(var(--spacing) * 56);
  }

  .h-72 {
    height: calc(var(--spacing) * 72);
  }

  .h-96 {
    height: calc(var(--spacing) * 96);
  }

  .h-\[2\.5px\] {
    height: 2.5px;
  }

  .h-\[5px\] {
    height: 5px;
  }

  .h-\[7px\] {
    height: 7px;
  }

  .h-\[18px\] {
    height: 18px;
  }

  .h-\[30px\] {
    height: 30px;
  }

  .h-\[39px\] {
    height: 39px;
  }

  .h-\[42px\] {
    height: 42px;
  }

  .h-\[44px\] {
    height: 44px;
  }

  .h-\[68px\] {
    height: 68px;
  }

  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100%;
  }

  .h-px {
    height: 1px;
  }

  .h-screen {
    height: 100vh;
  }

  .max-h-\[92vh\] {
    max-height: 92vh;
  }

  .min-h-0 {
    min-height: 0;
  }

  .min-h-\[56px\] {
    min-height: 56px;
  }

  .min-h-\[79px\] {
    min-height: 79px;
  }

  .min-h-\[145px\] {
    min-height: 145px;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .w-0 {
    width: 0;
  }

  .w-1\.5 {
    width: calc(var(--spacing) * 1.5);
  }

  .w-2 {
    width: calc(var(--spacing) * 2);
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .w-5 {
    width: calc(var(--spacing) * 5);
  }

  .w-7 {
    width: calc(var(--spacing) * 7);
  }

  .w-9 {
    width: calc(var(--spacing) * 9);
  }

  .w-12 {
    width: calc(var(--spacing) * 12);
  }

  .w-60 {
    width: calc(var(--spacing) * 60);
  }

  .w-\[2\.5px\] {
    width: 2.5px;
  }

  .w-\[51\.9px\] {
    width: 51.9px;
  }

  .w-\[64px\] {
    width: 64px;
  }

  .w-\[72px\] {
    width: 72px;
  }

  .w-\[80px\] {
    width: 80px;
  }

  .w-\[90px\] {
    width: 90px;
  }

  .w-\[122px\] {
    width: 122px;
  }

  .w-\[124px\] {
    width: 124px;
  }

  .w-\[220px\] {
    width: 220px;
  }

  .w-\[280px\] {
    width: 280px;
  }

  .w-\[min\(280px\,85vw\)\] {
    width: min(280px, 85vw);
  }

  .w-\[min\(292px\,calc\(100vw-2rem\)\)\] {
    width: min(292px, 100vw - 2rem);
  }

  .w-auto {
    width: auto;
  }

  .w-full {
    width: 100%;
  }

  .w-px {
    width: 1px;
  }

  .max-w-0 {
    max-width: 0;
  }

  .max-w-\[120px\] {
    max-width: 120px;
  }

  .max-w-\[416px\] {
    max-width: 416px;
  }

  .max-w-\[417px\] {
    max-width: 417px;
  }

  .max-w-\[448px\] {
    max-width: 448px;
  }

  .max-w-full {
    max-width: 100%;
  }

  .max-w-none {
    max-width: none;
  }

  .min-w-0 {
    min-width: 0;
  }

  .min-w-3\.5 {
    min-width: calc(var(--spacing) * 3.5);
  }

  .min-w-4 {
    min-width: calc(var(--spacing) * 4);
  }

  .min-w-\[100px\] {
    min-width: 100px;
  }

  .min-w-\[120px\] {
    min-width: 120px;
  }

  .min-w-\[148px\] {
    min-width: 148px;
  }

  .min-w-\[196px\] {
    min-width: 196px;
  }

  .min-w-\[200px\] {
    min-width: 200px;
  }

  .min-w-\[1100px\] {
    min-width: 1100px;
  }

  .min-w-full {
    min-width: 100%;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-none {
    flex: none;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .border-collapse {
    border-collapse: collapse;
  }

  .origin-top {
    transform-origin: top;
  }

  .origin-top-left {
    transform-origin: 0 0;
  }

  .origin-top-right {
    transform-origin: 100% 0;
  }

  .-translate-x-1\/2 {
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-translate-x-full {
    --tw-translate-x: -100%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-x-0 {
    --tw-translate-x: 0px;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-x-full {
    --tw-translate-x: 100%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-translate-y-1 {
    --tw-translate-y: calc(var(--spacing) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-translate-y-1\/2 {
    --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-0 {
    --tw-translate-y: 0px;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-full {
    --tw-translate-y: 100%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .scale-100 {
    --tw-scale-x: 100%;
    --tw-scale-y: 100%;
    --tw-scale-z: 100%;
    scale: var(--tw-scale-x) var(--tw-scale-y);
  }

  .scale-\[0\.98\] {
    scale: .98;
  }

  .rotate-180 {
    rotate: 180deg;
  }

  .animate-pulse {
    animation: var(--animate-pulse);
  }

  .cursor-default {
    cursor: default;
  }

  .cursor-help {
    cursor: help;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .resize {
    resize: both;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .grid-rows-\[0fr\] {
    grid-template-rows: 0fr;
  }

  .grid-rows-\[1fr\] {
    grid-template-rows: 1fr;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .place-items-center {
    place-items: center;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .items-stretch {
    align-items: stretch;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .gap-0 {
    gap: 0;
  }

  .gap-0\.5 {
    gap: calc(var(--spacing) * .5);
  }

  .gap-1 {
    gap: var(--spacing);
  }

  .gap-1\.5 {
    gap: calc(var(--spacing) * 1.5);
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-2\.5 {
    gap: calc(var(--spacing) * 2.5);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-3\.5 {
    gap: calc(var(--spacing) * 3.5);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .self-center {
    align-self: center;
  }

  .self-end {
    align-self: flex-end;
  }

  .self-stretch {
    align-self: stretch;
  }

  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-visible {
    overflow: visible;
  }

  .overflow-x-auto {
    overflow-x: auto;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .rounded {
    border-radius: .25rem;
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  .rounded-\[2\.5px\] {
    border-radius: 2.5px;
  }

  .rounded-\[5px\] {
    border-radius: 5px;
  }

  .rounded-\[7px\] {
    border-radius: 7px;
  }

  .rounded-\[10px\] {
    border-radius: 10px;
  }

  .rounded-\[14px\] {
    border-radius: 14px;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .rounded-lg {
    border-radius: 12px;
  }

  .rounded-md {
    border-radius: 10px;
  }

  .rounded-sm {
    border-radius: 8px;
  }

  .rounded-xl {
    border-radius: var(--radius-xl);
  }

  .rounded-t-xl {
    border-top-left-radius: var(--radius-xl);
    border-top-right-radius: var(--radius-xl);
  }

  .rounded-l-\[10px\] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .rounded-r-\[10px\] {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .rounded-b-\[13px\] {
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-x-\[7px\] {
    border-inline-style: var(--tw-border-style);
    border-inline-width: 7px;
  }

  .border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
  }

  .border-t-\[8px\] {
    border-top-style: var(--tw-border-style);
    border-top-width: 8px;
  }

  .border-r {
    border-right-style: var(--tw-border-style);
    border-right-width: 1px;
  }

  .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-b-0 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 0;
  }

  .border-b-\[8px\] {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 8px;
  }

  .border-l {
    border-left-style: var(--tw-border-style);
    border-left-width: 1px;
  }

  .border-dashed {
    --tw-border-style: dashed;
    border-style: dashed;
  }

  .border-none {
    --tw-border-style: none;
    border-style: none;
  }

  .border-\[\#DBDDE2\] {
    border-color: #dbdde2;
  }

  .border-\[\#DDE1E5\] {
    border-color: #dde1e5;
  }

  .border-\[\#E6EBF1\] {
    border-color: #e6ebf1;
  }

  .border-\[\#E8EEF4\] {
    border-color: #e8eef4;
  }

  .border-\[\#E9EBEE\] {
    border-color: #e9ebee;
  }

  .border-\[\#ECF0F5\] {
    border-color: #ecf0f5;
  }

  .border-\[\#F6861F\] {
    border-color: #f6861f;
  }

  .border-\[\#e6ebf1\] {
    border-color: #e6ebf1;
  }

  .border-\[rgba\(13\,24\,61\,0\.1\)\], .border-\[rgba\(13\,24\,61\,0\.10\)\] {
    border-color: #0d183d1a;
  }

  .border-\[rgba\(13\,24\,61\,0\.15\)\] {
    border-color: #0d183d26;
  }

  .border-\[rgba\(29\,54\,80\,0\.1\)\] {
    border-color: #1d36501a;
  }

  .border-\[rgba\(29\,54\,80\,0\.15\)\] {
    border-color: #1d365026;
  }

  .border-icr-border {
    border-color: #e6ebf1;
  }

  .border-icr-orange {
    border-color: #f6861f;
  }

  .border-x-transparent {
    border-inline-color: #0000;
  }

  .border-t-white {
    border-top-color: var(--color-white);
  }

  .border-b-white {
    border-bottom-color: var(--color-white);
  }

  .bg-\[\#0D9B91\] {
    background-color: #0d9b91;
  }

  .bg-\[\#21B972\] {
    background-color: #21b972;
  }

  .bg-\[\#617385\] {
    background-color: #617385;
  }

  .bg-\[\#D0D4E3\] {
    background-color: #d0d4e3;
  }

  .bg-\[\#D9AB82\] {
    background-color: #d9ab82;
  }

  .bg-\[\#D9D9D9\] {
    background-color: #d9d9d9;
  }

  .bg-\[\#DBDDE2\] {
    background-color: #dbdde2;
  }

  .bg-\[\#E8EEF4\] {
    background-color: #e8eef4;
  }

  .bg-\[\#E9FDF3\] {
    background-color: #e9fdf3;
  }

  .bg-\[\#EAECF0\] {
    background-color: #eaecf0;
  }

  .bg-\[\#ECF0F5\] {
    background-color: #ecf0f5;
  }

  .bg-\[\#ECF5F0\] {
    background-color: #ecf5f0;
  }

  .bg-\[\#F8F9F9\] {
    background-color: #f8f9f9;
  }

  .bg-\[\#F8F9FA\] {
    background-color: #f8f9fa;
  }

  .bg-\[\#F8FAFB\] {
    background-color: #f8fafb;
  }

  .bg-\[\#FCE0E0\] {
    background-color: #fce0e0;
  }

  .bg-\[\#FCF3E0\] {
    background-color: #fcf3e0;
  }

  .bg-\[\#FCF6E8\] {
    background-color: #fcf6e8;
  }

  .bg-\[\#FDF1E6\] {
    background-color: #fdf1e6;
  }

  .bg-\[\#FEFEFE\] {
    background-color: #fefefe;
  }

  .bg-\[\#FFFAF5\] {
    background-color: #fffaf5;
  }

  .bg-\[linear-gradient\(0deg\,rgba\(246\,134\,31\,0\.01\)\,rgba\(246\,134\,31\,0\.01\)\)\,white\] {
    background-color: linear-gradient(0deg,#f6861f03,#f6861f03),white;
  }

  .bg-\[linear-gradient\(0deg\,rgba\(255\,255\,255\,0\.95\)\,rgba\(255\,255\,255\,0\.95\)\)\,\#F6861F\] {
    background-color: linear-gradient(0deg,#fffffff2,#fffffff2),#f6861f;
  }

  .bg-\[linear-gradient\(0deg\,rgba\(255\,255\,255\,0\.97\)\,rgba\(255\,255\,255\,0\.97\)\)\,\#1D3650\] {
    background-color: linear-gradient(0deg,#fffffff7,#fffffff7),#1d3650;
  }

  .bg-\[rgba\(16\,24\,40\,0\.45\)\] {
    background-color: #10182873;
  }

  .bg-\[rgba\(29\,54\,80\,0\.28\)\] {
    background-color: #1d365047;
  }

  .bg-\[rgba\(29\,54\,80\,0\.45\)\] {
    background-color: #1d365073;
  }

  .bg-\[rgba\(246\,134\,31\,0\.06\)\] {
    background-color: #f6861f0f;
  }

  .bg-icr-bar-prev {
    background-color: #e5e7eb;
  }

  .bg-icr-bg {
    background-color: #f9fafb;
  }

  .bg-icr-border {
    background-color: #e6ebf1;
  }

  .bg-icr-navy {
    background-color: #1d3650;
  }

  .bg-icr-orange {
    background-color: #f6861f;
  }

  .bg-icr-orange-soft {
    background-color: #fff7ed;
  }

  .bg-icr-surface {
    background-color: #fff;
  }

  .bg-transparent {
    background-color: #0000;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .object-contain {
    object-fit: contain;
  }

  .object-cover {
    object-fit: cover;
  }

  .p-0 {
    padding: 0;
  }

  .p-0\.5 {
    padding: calc(var(--spacing) * .5);
  }

  .p-1 {
    padding: var(--spacing);
  }

  .p-1\.5 {
    padding: calc(var(--spacing) * 1.5);
  }

  .p-2 {
    padding: calc(var(--spacing) * 2);
  }

  .p-2\.5 {
    padding: calc(var(--spacing) * 2.5);
  }

  .p-3 {
    padding: calc(var(--spacing) * 3);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .px-0 {
    padding-inline: 0;
  }

  .px-1 {
    padding-inline: var(--spacing);
  }

  .px-1\.5 {
    padding-inline: calc(var(--spacing) * 1.5);
  }

  .px-2 {
    padding-inline: calc(var(--spacing) * 2);
  }

  .px-2\.5 {
    padding-inline: calc(var(--spacing) * 2.5);
  }

  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

  .px-3\.5 {
    padding-inline: calc(var(--spacing) * 3.5);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .px-\[7px\] {
    padding-inline: 7px;
  }

  .py-0 {
    padding-block: 0;
  }

  .py-0\.5 {
    padding-block: calc(var(--spacing) * .5);
  }

  .py-1 {
    padding-block: var(--spacing);
  }

  .py-1\.5 {
    padding-block: calc(var(--spacing) * 1.5);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-2\.5 {
    padding-block: calc(var(--spacing) * 2.5);
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-6 {
    padding-block: calc(var(--spacing) * 6);
  }

  .py-10 {
    padding-block: calc(var(--spacing) * 10);
  }

  .py-\[5px\] {
    padding-block: 5px;
  }

  .py-\[9px\] {
    padding-block: 9px;
  }

  .py-\[14px\] {
    padding-block: 14px;
  }

  .pt-0\.5 {
    padding-top: calc(var(--spacing) * .5);
  }

  .pt-1 {
    padding-top: var(--spacing);
  }

  .pt-2 {
    padding-top: calc(var(--spacing) * 2);
  }

  .pt-2\.5 {
    padding-top: calc(var(--spacing) * 2.5);
  }

  .pt-3 {
    padding-top: calc(var(--spacing) * 3);
  }

  .pt-4 {
    padding-top: calc(var(--spacing) * 4);
  }

  .pr-1\.5 {
    padding-right: calc(var(--spacing) * 1.5);
  }

  .pr-3 {
    padding-right: calc(var(--spacing) * 3);
  }

  .pr-4 {
    padding-right: calc(var(--spacing) * 4);
  }

  .pb-0\.5 {
    padding-bottom: calc(var(--spacing) * .5);
  }

  .pb-1 {
    padding-bottom: var(--spacing);
  }

  .pb-2 {
    padding-bottom: calc(var(--spacing) * 2);
  }

  .pb-3 {
    padding-bottom: calc(var(--spacing) * 3);
  }

  .pb-4 {
    padding-bottom: calc(var(--spacing) * 4);
  }

  .pb-6 {
    padding-bottom: calc(var(--spacing) * 6);
  }

  .pb-12 {
    padding-bottom: calc(var(--spacing) * 12);
  }

  .pb-px {
    padding-bottom: 1px;
  }

  .pl-0 {
    padding-left: 0;
  }

  .pl-2\.5 {
    padding-left: calc(var(--spacing) * 2.5);
  }

  .pl-3 {
    padding-left: calc(var(--spacing) * 3);
  }

  .pl-4 {
    padding-left: calc(var(--spacing) * 4);
  }

  .pl-5 {
    padding-left: calc(var(--spacing) * 5);
  }

  .pl-6 {
    padding-left: calc(var(--spacing) * 6);
  }

  .pl-\[14px\] {
    padding-left: 14px;
  }

  .pl-\[26px\] {
    padding-left: 26px;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .align-middle {
    vertical-align: middle;
  }

  .font-sans {
    font-family: var(--font-gotham);
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

  .text-\[7px\] {
    font-size: 7px;
  }

  .text-\[8px\] {
    font-size: 8px;
  }

  .text-\[9px\] {
    font-size: 9px;
  }

  .text-\[10px\] {
    font-size: 10px;
  }

  .text-\[11px\] {
    font-size: 11px;
  }

  .text-\[12px\] {
    font-size: 12px;
  }

  .text-\[13px\] {
    font-size: 13px;
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .text-\[20px\] {
    font-size: 20px;
  }

  .leading-3 {
    --tw-leading: calc(var(--spacing) * 3);
    line-height: calc(var(--spacing) * 3);
  }

  .leading-4 {
    --tw-leading: calc(var(--spacing) * 4);
    line-height: calc(var(--spacing) * 4);
  }

  .leading-5 {
    --tw-leading: calc(var(--spacing) * 5);
    line-height: calc(var(--spacing) * 5);
  }

  .leading-6 {
    --tw-leading: calc(var(--spacing) * 6);
    line-height: calc(var(--spacing) * 6);
  }

  .leading-\[9\.6px\] {
    --tw-leading: 9.6px;
    line-height: 9.6px;
  }

  .leading-\[10\.5px\] {
    --tw-leading: 10.5px;
    line-height: 10.5px;
  }

  .leading-\[13\.5px\] {
    --tw-leading: 13.5px;
    line-height: 13.5px;
  }

  .leading-\[14\.3px\] {
    --tw-leading: 14.3px;
    line-height: 14.3px;
  }

  .leading-\[14\.4px\] {
    --tw-leading: 14.4px;
    line-height: 14.4px;
  }

  .leading-\[14px\] {
    --tw-leading: 14px;
    line-height: 14px;
  }

  .leading-\[15\.6px\] {
    --tw-leading: 15.6px;
    line-height: 15.6px;
  }

  .leading-\[15\.95px\] {
    --tw-leading: 15.95px;
    line-height: 15.95px;
  }

  .leading-\[15px\] {
    --tw-leading: 15px;
    line-height: 15px;
  }

  .leading-\[16\.2px\] {
    --tw-leading: 16.2px;
    line-height: 16.2px;
  }

  .leading-\[16\.8px\] {
    --tw-leading: 16.8px;
    line-height: 16.8px;
  }

  .leading-\[17\.4px\] {
    --tw-leading: 17.4px;
    line-height: 17.4px;
  }

  .leading-\[17\.5px\] {
    --tw-leading: 17.5px;
    line-height: 17.5px;
  }

  .leading-\[17\.44px\] {
    --tw-leading: 17.44px;
    line-height: 17.44px;
  }

  .leading-\[18\.9px\] {
    --tw-leading: 18.9px;
    line-height: 18.9px;
  }

  .leading-\[18\.62px\] {
    --tw-leading: 18.62px;
    line-height: 18.62px;
  }

  .leading-\[18px\] {
    --tw-leading: 18px;
    line-height: 18px;
  }

  .leading-\[20\.3px\] {
    --tw-leading: 20.3px;
    line-height: 20.3px;
  }

  .leading-\[24\.3px\] {
    --tw-leading: 24.3px;
    line-height: 24.3px;
  }

  .leading-\[29px\] {
    --tw-leading: 29px;
    line-height: 29px;
  }

  .font-\[350\] {
    --tw-font-weight: 350;
    font-weight: 350;
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .tracking-\[-0\.4px\] {
    --tw-tracking: -.4px;
    letter-spacing: -.4px;
  }

  .tracking-\[-0\.36px\] {
    --tw-tracking: -.36px;
    letter-spacing: -.36px;
  }

  .tracking-\[0\.04em\] {
    --tw-tracking: .04em;
    letter-spacing: .04em;
  }

  .tracking-\[0\.25px\] {
    --tw-tracking: .25px;
    letter-spacing: .25px;
  }

  .tracking-wide {
    --tw-tracking: var(--tracking-wide);
    letter-spacing: var(--tracking-wide);
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-\[\#0D9B91\] {
    color: #0d9b91;
  }

  .text-\[\#0E1422\] {
    color: #0e1422;
  }

  .text-\[\#4A5E73\] {
    color: #4a5e73;
  }

  .text-\[\#5C5F6A\] {
    color: #5c5f6a;
  }

  .text-\[\#6A7282\] {
    color: #6a7282;
  }

  .text-\[\#6C7C8D\] {
    color: #6c7c8d;
  }

  .text-\[\#6D7280\] {
    color: #6d7280;
  }

  .text-\[\#7E848A\] {
    color: #7e848a;
  }

  .text-\[\#9AA1A8\] {
    color: #9aa1a8;
  }

  .text-\[\#21B972\] {
    color: #21b972;
  }

  .text-\[\#97A4B0\] {
    color: #97a4b0;
  }

  .text-\[\#474B57\] {
    color: #474b57;
  }

  .text-\[\#067647\] {
    color: #067647;
  }

  .text-\[\#101828\] {
    color: #101828;
  }

  .text-\[\#434343\] {
    color: #434343;
  }

  .text-\[\#475467\] {
    color: #475467;
  }

  .text-\[\#617285\] {
    color: #617285;
  }

  .text-\[\#617385\] {
    color: #617385;
  }

  .text-\[\#B3261E\] {
    color: #b3261e;
  }

  .text-\[\#C4C4C4\] {
    color: #c4c4c4;
  }

  .text-\[\#DD9800\] {
    color: #dd9800;
  }

  .text-\[\#EC0004\] {
    color: #ec0004;
  }

  .text-\[\#EEB029\] {
    color: #eeb029;
  }

  .text-\[\#F6861F\] {
    color: #f6861f;
  }

  .text-\[rgba\(29\,54\,80\,0\.5\)\] {
    color: #1d365080;
  }

  .text-\[rgba\(29\,54\,80\,0\.7\)\] {
    color: #1d3650b3;
  }

  .text-\[rgba\(29\,54\,80\,0\.8\)\] {
    color: #1d3650cc;
  }

  .text-\[rgba\(29\,54\,80\,0\.42\)\] {
    color: #1d36506b;
  }

  .text-\[rgba\(29\,54\,80\,0\.55\)\] {
    color: #1d36508c;
  }

  .text-\[rgba\(29\,54\,80\,0\.65\)\] {
    color: #1d3650a6;
  }

  .text-\[rgba\(29\,54\,80\,0\.70\)\] {
    color: #1d3650b3;
  }

  .text-\[rgba\(29\,54\,80\,0\.80\)\] {
    color: #1d3650cc;
  }

  .text-icr-muted {
    color: #6c7c8d;
  }

  .text-icr-navy {
    color: #1d3650;
  }

  .text-icr-orange {
    color: #f6861f;
  }

  .text-white {
    color: var(--color-white);
  }

  .capitalize {
    text-transform: capitalize;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .underline {
    text-decoration-line: underline;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-75 {
    opacity: .75;
  }

  .opacity-80 {
    opacity: .8;
  }

  .opacity-100 {
    opacity: 1;
  }

  .shadow-\[-4px_0_8px_rgba\(0\,0\,0\,0\.08\)\] {
    --tw-shadow: -4px 0 8px var(--tw-shadow-color, #00000014);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[-4px_0_11px_rgba\(0\,0\,0\,0\.12\)\,12px_0_0_0_\#F8F9FA\] {
    --tw-shadow: -4px 0 11px var(--tw-shadow-color, #0000001f), 12px 0 0 0 var(--tw-shadow-color, #f8f9fa);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[-4px_0_11px_rgba\(0\,0\,0\,0\.12\)\,12px_0_0_0_\#fff\] {
    --tw-shadow: -4px 0 11px var(--tw-shadow-color, #0000001f), 12px 0 0 0 var(--tw-shadow-color, #fff);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[-8px_0_32px_rgba\(16\,24\,40\,0\.12\)\] {
    --tw-shadow: -8px 0 32px var(--tw-shadow-color, #1018281f);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[0_0_0_2px_rgba\(246\,134\,31\,0\.15\)\] {
    --tw-shadow: 0 0 0 2px var(--tw-shadow-color, #f6861f26);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[0_1px_2px_rgba\(16\,24\,40\,0\.05\)\] {
    --tw-shadow: 0 1px 2px var(--tw-shadow-color, #1018280d);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[0_8px_24px_rgba\(16\,24\,40\,0\.12\)\] {
    --tw-shadow: 0 8px 24px var(--tw-shadow-color, #1018281f);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[0_8px_28px_rgba\(16\,24\,40\,0\.14\)\] {
    --tw-shadow: 0 8px 28px var(--tw-shadow-color, #10182824);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-\[0_8px_28px_rgba\(16\,24\,40\,0\.18\)\] {
    --tw-shadow: 0 8px 28px var(--tw-shadow-color, #1018282e);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .ring-1 {
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .ring-icr-orange {
    --tw-ring-color: #f6861f;
  }

  .outline, .outline-1 {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }

  .outline-\[1\.2px\] {
    outline-style: var(--tw-outline-style);
    outline-width: 1.2px;
  }

  .outline-offset-\[-1\.2px\] {
    outline-offset: -1.2px;
  }

  .outline-offset-\[-1px\] {
    outline-offset: -1px;
  }

  .outline-\[rgba\(13\,24\,61\,0\.10\)\] {
    outline-color: #0d183d1a;
  }

  .outline-\[rgba\(29\,54\,80\,0\.10\)\] {
    outline-color: #1d36501a;
  }

  .outline-\[rgba\(246\,134\,31\,0\.55\)\] {
    outline-color: #f6861f8c;
  }

  .outline-icr-orange {
    outline-color: #f6861f;
  }

  .filter {
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .transition-\[grid-template-rows\,opacity\] {
    transition-property: grid-template-rows, opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-\[grid-template-rows\] {
    transition-property: grid-template-rows;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-\[left\,width\,opacity\] {
    transition-property: left, width, opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-\[padding\,opacity\] {
    transition-property: padding, opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-\[width\,opacity\] {
    transition-property: width, opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-\[width\,padding\] {
    transition-property: width, padding;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .duration-150 {
    --tw-duration: .15s;
    transition-duration: .15s;
  }

  .duration-200 {
    --tw-duration: .2s;
    transition-duration: .2s;
  }

  .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s;
  }

  .ease-\[cubic-bezier\(0\.4\,0\,0\.2\,1\)\] {
    --tw-ease: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  }

  .outline-none {
    --tw-outline-style: none;
    outline-style: none;
  }

  .bg-icr-tint {
    background: linear-gradient(0deg, #fffffff2 0% 100%), #f6861f;
  }

  @media (hover: hover) {
    .group-hover\:visible:is(:where(.group):hover *) {
      visibility: visible;
    }

    .group-hover\:opacity-100:is(:where(.group):hover *) {
      opacity: 1;
    }

    .group-hover\/baseline\:visible:is(:where(.group\/baseline):hover *) {
      visibility: visible;
    }

    .group-hover\/baseline\:opacity-100:is(:where(.group\/baseline):hover *) {
      opacity: 1;
    }

    .group-hover\/dept\:scale-100:is(:where(.group\/dept):hover *) {
      --tw-scale-x: 100%;
      --tw-scale-y: 100%;
      --tw-scale-z: 100%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }

    .group-hover\/dept\:opacity-100:is(:where(.group\/dept):hover *) {
      opacity: 1;
    }
  }

  .group-focus-visible\:visible:is(:where(.group):focus-visible *) {
    visibility: visible;
  }

  .group-focus-visible\:opacity-100:is(:where(.group):focus-visible *) {
    opacity: 1;
  }

  .placeholder\:text-\[\#6C7C8D\]::placeholder {
    color: #6c7c8d;
  }

  .after\:pointer-events-none:after {
    content: var(--tw-content);
    pointer-events: none;
  }

  .after\:absolute:after {
    content: var(--tw-content);
    position: absolute;
  }

  .after\:inset-y-0:after {
    content: var(--tw-content);
    inset-block: 0;
  }

  .after\:left-full:after {
    content: var(--tw-content);
    left: 100%;
  }

  .after\:w-4:after {
    content: var(--tw-content);
    width: calc(var(--spacing) * 4);
  }

  .after\:bg-\[\#F8F9FA\]:after {
    content: var(--tw-content);
    background-color: #f8f9fa;
  }

  .after\:bg-white:after {
    content: var(--tw-content);
    background-color: var(--color-white);
  }

  .last\:mb-0:last-child {
    margin-bottom: 0;
  }

  .last\:border-b-0:last-child {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 0;
  }

  @media (hover: hover) {
    .hover\:z-30:hover {
      z-index: 30;
    }

    .hover\:bg-\[\#ECF0F5\]:hover {
      background-color: #ecf0f5;
    }

    .hover\:bg-\[\#F8F9FA\]:hover {
      background-color: #f8f9fa;
    }

    .hover\:bg-\[\#e57818\]:hover {
      background-color: #e57818;
    }

    .hover\:bg-icr-orange-soft:hover {
      background-color: #fff7ed;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pointer-events-none {
      pointer-events: none;
    }

    .lg\:static {
      position: static;
    }

    .lg\:z-auto {
      z-index: auto;
    }

    .lg\:mx-0 {
      margin-inline: 0;
    }

    .lg\:mt-3 {
      margin-top: calc(var(--spacing) * 3);
    }

    .lg\:mb-3 {
      margin-bottom: calc(var(--spacing) * 3);
    }

    .lg\:mb-3\.5 {
      margin-bottom: calc(var(--spacing) * 3.5);
    }

    .lg\:mb-4 {
      margin-bottom: calc(var(--spacing) * 4);
    }

    .lg\:ml-\[110px\] {
      margin-left: 110px;
    }

    .lg\:block {
      display: block;
    }

    .lg\:flex {
      display: flex;
    }

    .lg\:grid {
      display: grid;
    }

    .lg\:hidden {
      display: none;
    }

    .lg\:inline {
      display: inline;
    }

    .lg\:inline-flex {
      display: inline-flex;
    }

    .lg\:table-cell {
      display: table-cell;
    }

    .lg\:size-8 {
      width: calc(var(--spacing) * 8);
      height: calc(var(--spacing) * 8);
    }

    .lg\:h-8 {
      height: calc(var(--spacing) * 8);
    }

    .lg\:h-9 {
      height: calc(var(--spacing) * 9);
    }

    .lg\:h-\[49px\] {
      height: 49px;
    }

    .lg\:h-\[61px\] {
      height: 61px;
    }

    .lg\:h-full {
      height: 100%;
    }

    .lg\:w-\[80px\] {
      width: 80px;
    }

    .lg\:w-\[280px\] {
      width: 280px;
    }

    .lg\:w-auto {
      width: auto;
    }

    .lg\:max-w-none {
      max-width: none;
    }

    .lg\:min-w-\[200px\] {
      min-width: 200px;
    }

    .lg\:min-w-\[226px\] {
      min-width: 226px;
    }

    .lg\:min-w-\[1100px\] {
      min-width: 1100px;
    }

    .lg\:flex-1 {
      flex: 1;
    }

    .lg\:flex-none {
      flex: none;
    }

    .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg\:grid-cols-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .lg\:grid-cols-\[110px_1fr_28px\] {
      grid-template-columns: 110px 1fr 28px;
    }

    .lg\:grid-rows-\[0fr\] {
      grid-template-rows: 0fr;
    }

    .lg\:grid-rows-\[1fr\] {
      grid-template-rows: 1fr;
    }

    .lg\:flex-row {
      flex-direction: row;
    }

    .lg\:items-center {
      align-items: center;
    }

    .lg\:items-start {
      align-items: flex-start;
    }

    .lg\:items-stretch {
      align-items: stretch;
    }

    .lg\:justify-between {
      justify-content: space-between;
    }

    .lg\:gap-2 {
      gap: calc(var(--spacing) * 2);
    }

    .lg\:gap-2\.5 {
      gap: calc(var(--spacing) * 2.5);
    }

    .lg\:gap-3 {
      gap: calc(var(--spacing) * 3);
    }

    .lg\:gap-4 {
      gap: calc(var(--spacing) * 4);
    }

    .lg\:gap-5 {
      gap: calc(var(--spacing) * 5);
    }

    .lg\:overflow-hidden {
      overflow: hidden;
    }

    .lg\:rounded-2xl {
      border-radius: var(--radius-2xl);
    }

    .lg\:rounded-\[10px\] {
      border-radius: 10px;
    }

    .lg\:rounded-lg {
      border-radius: 12px;
    }

    .lg\:rounded-none {
      border-radius: 0;
    }

    .lg\:rounded-xl {
      border-radius: var(--radius-xl);
    }

    .lg\:rounded-b-\[14px\] {
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    .lg\:border-0 {
      border-style: var(--tw-border-style);
      border-width: 0;
    }

    .lg\:border-t {
      border-top-style: var(--tw-border-style);
      border-top-width: 1px;
    }

    .lg\:border-b-0 {
      border-bottom-style: var(--tw-border-style);
      border-bottom-width: 0;
    }

    .lg\:border-l {
      border-left-style: var(--tw-border-style);
      border-left-width: 1px;
    }

    .lg\:border-\[\#DBDDE2\] {
      border-color: #dbdde2;
    }

    .lg\:border-\[rgba\(13\,24\,61\,0\.15\)\] {
      border-color: #0d183d26;
    }

    .lg\:border-icr-border {
      border-color: #e6ebf1;
    }

    .lg\:bg-\[\#F8F9FA\] {
      background-color: #f8f9fa;
    }

    .lg\:bg-\[rgba\(246\,134\,31\,0\.08\)\] {
      background-color: #f6861f14;
    }

    .lg\:bg-\[rgba\(246\,134\,31\,0\.12\)\] {
      background-color: #f6861f1f;
    }

    .lg\:bg-icr-bar-prev {
      background-color: #e5e7eb;
    }

    .lg\:bg-transparent {
      background-color: #0000;
    }

    .lg\:bg-white {
      background-color: var(--color-white);
    }

    .lg\:p-0 {
      padding: 0;
    }

    .lg\:p-1\.5 {
      padding: calc(var(--spacing) * 1.5);
    }

    .lg\:p-4 {
      padding: calc(var(--spacing) * 4);
    }

    .lg\:p-5 {
      padding: calc(var(--spacing) * 5);
    }

    .lg\:px-0 {
      padding-inline: 0;
    }

    .lg\:px-3 {
      padding-inline: calc(var(--spacing) * 3);
    }

    .lg\:px-4 {
      padding-inline: calc(var(--spacing) * 4);
    }

    .lg\:px-5 {
      padding-inline: calc(var(--spacing) * 5);
    }

    .lg\:px-6 {
      padding-inline: calc(var(--spacing) * 6);
    }

    .lg\:py-0 {
      padding-block: 0;
    }

    .lg\:py-3 {
      padding-block: calc(var(--spacing) * 3);
    }

    .lg\:py-4 {
      padding-block: calc(var(--spacing) * 4);
    }

    .lg\:pt-3 {
      padding-top: calc(var(--spacing) * 3);
    }

    .lg\:pt-6 {
      padding-top: calc(var(--spacing) * 6);
    }

    .lg\:pr-0 {
      padding-right: 0;
    }

    .lg\:pr-3 {
      padding-right: calc(var(--spacing) * 3);
    }

    .lg\:pr-4 {
      padding-right: calc(var(--spacing) * 4);
    }

    .lg\:pr-7 {
      padding-right: calc(var(--spacing) * 7);
    }

    .lg\:pb-0 {
      padding-bottom: 0;
    }

    .lg\:pb-4 {
      padding-bottom: calc(var(--spacing) * 4);
    }

    .lg\:pb-\[60px\] {
      padding-bottom: 60px;
    }

    .lg\:pl-0 {
      padding-left: 0;
    }

    .lg\:text-2xl {
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }

    .lg\:text-base {
      font-size: var(--text-base);
      line-height: var(--tw-leading, var(--text-base--line-height));
    }

    .lg\:text-lg {
      font-size: var(--text-lg);
      line-height: var(--tw-leading, var(--text-lg--line-height));
    }

    .lg\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }

    .lg\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }

    .lg\:text-xs {
      font-size: var(--text-xs);
      line-height: var(--tw-leading, var(--text-xs--line-height));
    }

    .lg\:text-\[11px\] {
      font-size: 11px;
    }

    .lg\:text-\[13px\] {
      font-size: 13px;
    }

    .lg\:leading-4 {
      --tw-leading: calc(var(--spacing) * 4);
      line-height: calc(var(--spacing) * 4);
    }

    .lg\:leading-5 {
      --tw-leading: calc(var(--spacing) * 5);
      line-height: calc(var(--spacing) * 5);
    }

    .lg\:leading-6 {
      --tw-leading: calc(var(--spacing) * 6);
      line-height: calc(var(--spacing) * 6);
    }

    .lg\:leading-7 {
      --tw-leading: calc(var(--spacing) * 7);
      line-height: calc(var(--spacing) * 7);
    }

    .lg\:leading-\[14px\] {
      --tw-leading: 14px;
      line-height: 14px;
    }

    .lg\:leading-\[16\.8px\] {
      --tw-leading: 16.8px;
      line-height: 16.8px;
    }

    .lg\:leading-\[17\.5px\] {
      --tw-leading: 17.5px;
      line-height: 17.5px;
    }

    .lg\:leading-\[18\.9px\] {
      --tw-leading: 18.9px;
      line-height: 18.9px;
    }

    .lg\:leading-\[18px\] {
      --tw-leading: 18px;
      line-height: 18px;
    }

    .lg\:leading-\[20\.3px\] {
      --tw-leading: 20.3px;
      line-height: 20.3px;
    }

    .lg\:leading-\[21\.28px\] {
      --tw-leading: 21.28px;
      line-height: 21.28px;
    }

    .lg\:leading-\[32\.4px\] {
      --tw-leading: 32.4px;
      line-height: 32.4px;
    }

    .lg\:font-bold {
      --tw-font-weight: var(--font-weight-bold);
      font-weight: var(--font-weight-bold);
    }

    .lg\:font-semibold {
      --tw-font-weight: var(--font-weight-semibold);
      font-weight: var(--font-weight-semibold);
    }

    .lg\:tracking-\[-0\.6px\] {
      --tw-tracking: -.6px;
      letter-spacing: -.6px;
    }

    .lg\:text-icr-muted {
      color: #6c7c8d;
    }

    .lg\:text-icr-navy {
      color: #1d3650;
    }

    .lg\:text-icr-orange {
      color: #f6861f;
    }

    .lg\:opacity-0 {
      opacity: 0;
    }

    .lg\:opacity-100 {
      opacity: 1;
    }

    .lg\:shadow-\[0_1px_2px_rgba\(16\,24\,40\,0\.04\)\] {
      --tw-shadow: 0 1px 2px var(--tw-shadow-color, #1018280a);
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }

    .lg\:shadow-none {
      --tw-shadow: 0 0 #0000;
      box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    }

    .lg\:after\:hidden:after {
      content: var(--tw-content);
      display: none;
    }
  }
}

@font-face {
  font-family: Gotham;
  src: local(Gotham Book), local(Gotham), url("/fonts/Gotham-Book.woff2") format("woff2"), url("/fonts/Gotham-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: local(Gotham Medium), local(Gotham), url("/fonts/Gotham-Medium.woff2") format("woff2"), url("/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: local(Gotham Bold), local(Gotham), url("/fonts/Gotham-Bold.woff2") format("woff2"), url("/fonts/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f9fafb;
  --foreground: #1d3650;
  --font-gotham: "Gotham", "Gotham Book", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

@property --tw-content {
  syntax: "*";
  inherits: false;
  initial-value: "";
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

/*# sourceMappingURL=src_app_globals_162hn9o.css.map*/